In [4]:
import pandas as pd
import numpy as np
import random

In [13]:
df = pd.read_csv('../Sales_Data/Sales_April_2019.csv')
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [145]:
d = df["Quantity Ordered"]
d = list(d)
n = 10
l = []
for i in range(10):
	# r = random.randint(0,20)
	d.append(random.randint(0,20))
for x,y in enumerate(d):
	if y==0: 
		print(y)
		d[x] = random.randint(1,19)

17

# Enumerate function 

Adds counter to an iterable and returns it in the form of a enumerating object. To print the data, we need to convert the enumerating object into a list.

In [19]:

l = ['a','b','c','d','e','f']
print(list(enumerate(l,0)))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e'), (5, 'f')]

In [42]:
n = 5
arr = np.random.randint(0,2,size=5)
print(arr)
for n,i in enumerate(arr):
	print(n,i)

[0 1 0 1 0]
0 0
1 1
2 0
3 1
4 0

In [46]:

    for i in range(5):        
        sampl_array = np.random.randint(0,2, size=5)
        print(f"sampl_array is {sampl_array}")
        for n, i in enumerate(sampl_array):
            print(f"n = {n}, i = {i}\n")
            if i == 1:
                sampl_array[n] = random.randint(0,1)
            elif i == 2:
                sampl_array[n] = random.randint(0,1)
            else:
                continue
        
        sampl = sampl_array.tolist()
        print(f"sampl is {sampl}")
print(sampl_array)

sampl_array is [1 1 0 1 1]
n = 0, i = 1

n = 1, i = 1

n = 2, i = 0

n = 3, i = 1

n = 4, i = 1

sampl is [1, 1, 0, 0, 1]
sampl_array is [0 1 0 1 1]
n = 0, i = 0

n = 1, i = 1

n = 2, i = 0

n = 3, i = 1

n = 4, i = 1

sampl is [0, 1, 0, 1, 0]
sampl_array is [1 1 1 1 0]
n = 0, i = 1

n = 1, i = 1

n = 2, i = 1

n = 3, i = 1

n = 4, i = 0

sampl is [0, 0, 1, 0, 0]
sampl_array is [1 0 1 0 1]
n = 0, i = 1

n = 1, i = 0

n = 2, i = 1

n = 3, i = 0

n = 4, i = 1

sampl is [0, 0, 0, 0, 0]
sampl_array is [1 1 0 1 1]
n = 0, i = 1

n = 1, i = 1

n = 2, i = 0

n = 3, i = 1

n = 4, i = 1

sampl is [1, 1, 0, 0, 0]
[1 1 0 0 0]

In [82]:
l = [1,2,4,5,6]
l1 = random.sample(range(0,10),k=5)
print(l1)
l += l1
print(l)

[4, 0, 7, 2, 9]
[1, 2, 4, 5, 6, 4, 0, 7, 2, 9]